body {
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://a-static.mlcdn.com.br/1500x1500/papel-de-parede-adesivo-gourmet-menu-restaurantes-cardapio-gf-casa-decor/gfcasadecor/gfc-gourmet-27/f02b063800ef0c5858ff601456b9b236.jpg");
    background-size: 100%;
    color: black;
}
main {
    border-radius: 8px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    box-sizing: border-box;
    width: 600px;
    background-color: rgb(255, 236, 68);
}
input[type=text], input[type=email] {
    border-radius: 8px;
    border: none;
    width: 75%;
    padding: 12px 15px;
    margin: 8px 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
}
input[type=file] {
    color: black;
    font-style: bold;
}
input[type=number] {
    border-radius: 8px;
    border: none;
    width: 40%;
    padding: 12px 15px;
    margin: 8px 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
}
input[type=text]:focus, input[type=number]:focus, input[type=email]:focus {
    background-color: black;
    border: 3px solid grey;
    color: rgb(236, 236, 176);

}
label {
    font-size: large;
    font-style: italic;
}
li {
    list-style: none;
}
input[type=submit]{
    color: rgb(236, 236, 176);
    border: 3px solid grey;
    border-radius: 10px;
    background-color: black;
    padding: 8px 5px;
    display: inline-block;
    width: 25%;
    height: 10%;
}
fieldset {
    border-radius: 8px;
    border: 3px solid black
}